<footer>
    <div class="footer-content">
        <div class="contact-info">
            <p>Let's connect and create something amazing together!</p>
            <a href="mailto:sanjit.davuluri@gmail.com" class="email-link">sanjit.davuluri@gmail.com</a>
        </div>
        <div class="social-links">
            <a href="https://github.com/sanjitdavuluri" target="_blank" class="social-link">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://linkedin.com/in/sanjit-davuluri" target="_blank" class="social-link">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>