<header>
  <nav>
    <div class="logo">
      <a href="/" class="nav-link">Sanjit Davuluri</a>
    </div>
    <div class="nav-links">
      <a href="/" class="nav-link">Home</a>
      <a href="/projects" class="nav-link">Projects</a>
      <a href="/experience" class="nav-link">Experience</a>
      <a href="/education" class="nav-link">Education</a>
      <a href="/resume" class="nav-link">Resume</a>
    </div>
  </nav>
</header>